*{
  margin:0;
  padding:0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#5a5a5a;
}
img{
  cursor: pointer;
}
.nav-left img{
  width:30px;
  height: 30px;
}

.nav-right img{
  width:30px;
  height: 30px;
}

.flex-div{
  display: flex;
  align-items: center;
}
nav{
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.12);
  background: #fff;
  position:static;
  top:0;
  z-index: 10;
}